# MLOPs 2025 Zoomcamp - Assignment 01

In [1]:
import pandas as pd
pd.__version__

'2.2.3'

In [2]:
import sklearn
sklearn.__version__

'1.6.1'

In [3]:
df_jan = pd.read_parquet("https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet")
df_feb = pd.read_parquet("https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-02.parquet")

In [4]:
df_jan.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00

In [5]:
df_jan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3066766 entries, 0 to 3066765
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
dtypes: datetime64[us](2), float64(12), int64(4), object(1)
memory usage: 444.6+ MB

In [6]:
df_feb.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,1,2023-02-01 00:32:53,2023-02-01 00:34:34,2.0,0.30,1.0,N,142,163,2,4.4,3.50,0.5,0.0,0.0,1.0,9.40,2.5,0.00
1,2,2023-02-01 00:35:16,2023-02-01 00:35:30,1.0,0.00,1.0,N,71,71,4,-3.0,-1.00,-0.5,0.0,0.0,-1.0,-5.50,0.0,0.00
2,2,2023-02-01 00:35:16,2023-02-01 00:35:30,1.0,0.00,1.0,N,71,71,4,3.0,1.00,0.5,0.0,0.0,1.0,5.50,0.0,0.00
3,1,2023-02-01 00:29:33,2023-02-01 01:01:38,0.0,18.80,1.0,N,132,26,1,70.9,2.25,0.5,0.0,0.0,1.0,74.65,0.0,1.25
4,2,2023-02-01 00:12:28,2023-02-01 00:25:46,1.0,3.22,1.0,N,161,145,1,17.0,1.00,0.5,3.3,0.0,1.0,25.30,2.5,0.00

In [7]:
df_feb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2913955 entries, 0 to 2913954
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int32
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int32
 8   DOLocationID           int32
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  Airport_fee            float64
dtypes: datetime64[us](2), float64(12), int32(3), int64(1), object(1)
memory usage: 389.1+ MB

## Q1. Downloading the data

- How many columns are there?

1. 16
2. 17
3. 18
4. 19

### Answer

In [8]:
len(df_jan.columns)

19

## Q2. Computing duration
- Compute the duration variable. It should contain the duration of a ride in minutes.

- What's the standard deviation of the trips duration in January?

1. 32.59
2. 42.59
3. 52.59
4. 62.59

### Answer

In [9]:
# Compute trip duration and convert to minutes
df_jan['duration'] = (df_jan['tpep_dropoff_datetime'] - df_jan['tpep_pickup_datetime']).dt.total_seconds() / 60

# Check the standard deviation of the duration column
round(df_jan['duration'].std(), 2)

np.float64(42.59)

## Q3. Dropping outliers
- Check the distribution of the duration variable. 
- Remove outliers and keep only the records where the duration was between 1 and 60 minutes (inclusive).
- What fraction of the records left after you dropped the outliers?

1. 90%
2. 92%
3. 95%
4. 98%

In [10]:
# Check outliers in the "duration" column
df_jan.duration.describe()

count    3.066766e+06
mean     1.566900e+01
std      4.259435e+01
min     -2.920000e+01
25%      7.116667e+00
50%      1.151667e+01
75%      1.830000e+01
max      1.002918e+04
Name: duration, dtype: float64

In [11]:
# Filter durations between 1 and 60 minutes
df_jan_clean = df_jan[(df_jan.duration >= 1) & (df_jan.duration <= 60)].copy()

df_jan_clean

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,duration
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.30,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00,8.433333
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.90,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00,6.316667
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.90,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00,12.750000
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.10,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25,9.616667
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.40,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00,10.833333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3066761,2,2023-01-31 23:58:34,2023-02-01 00:12:33,NaN,3.05,NaN,None,107,48,0,15.80,0.00,0.5,3.96,0.0,1.0,23.76,NaN,NaN,13.983333
3066762,2,2023-01-31 23:31:09,2023-01-31 23:50:36,NaN,5.80,NaN,None,112,75,0,22.43,0.00,0.5,2.64,0.0,1.0,29.07,NaN,NaN,19.450000
3066763,2,2023-01-31 23:01:05,2023-01-31 23:25:36,NaN,4.67,NaN,None,114,239,0,17.61,0.00,0.5,5.32,0.0,1.0,26.93,NaN,NaN,24.516667
3066764,2,2023-01-31 23:40:00,2023-01-31 23:53:00,NaN,3.15,NaN,None,230,79,0,18.15,0.00,0.5,4.43,0.0,1.0,26.58,NaN,NaN,13.000000
3066765,2,2023-01-31 23:07:32,2023-01-31 23:21:56,NaN,2.85,NaN,None,262,143,0,15.97,0.00,0.5,2.00,0.0,1.0,21.97,NaN,NaN,14.400000

In [12]:
df_jan_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3009173 entries, 0 to 3066765
Data columns (total 20 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
 19  duration               float64
dtypes: datetime64[us](2), float64(13), int64(4), object(1)
memory usage: 482.1+ MB

In [13]:
# Calculate the fraction of records remaining

original_count = len(df_jan)
filtered_count = len(df_jan_clean)
fraction = (filtered_count / original_count) * 100

print(f"Fraction remaining: {fraction:.2f}")

Fraction remaining: 98.12

## Q4. One-hot encoding 
- Apply one-hot encoding to the pickup and dropoff location IDs. 
- What's the dimensionality of this matrix (number of columns)?

1. 2
2. 155
3. 345
4. 515
5. 715

### Answer

In [14]:
from sklearn.feature_extraction import DictVectorizer

# Select required columns and convert to string
df_jan_clean["PULocationID"] = df_jan_clean["PULocationID"].astype(str)
df_jan_clean["DOLocationID"] = df_jan_clean["DOLocationID"].astype(str)

# Turn into list of dictionaries
dicts = df_jan_clean[["PULocationID", "DOLocationID"]].to_dict(orient="records")

# Start and fit DictVectorizer
dv = DictVectorizer()
X_train = dv.fit_transform(dicts)

# Review output for matrix dimensionality
X_train.shape

(3009173, 515)

## Q5. Training a model

- Train a plain linear regression model with default parameters, where duration is the response variable.
- Calculate the RMSE of the model on the training data...What's the RMSE on train?

1. 3.64
2. 7.64
3. 11.64
4. 16.64

### Answer

In [15]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from math import sqrt
import numpy as np

# State input features and target
X_train = dv.fit_transform(dicts)
y_train = df_jan_clean["duration"].values

# Train linear regression
lr = LinearRegression()
lr.fit(X_train, y_train)

# Predict on training set
y_pred = lr.predict(X_train)

# Evaluate using RMSE
rmse = sqrt(mean_squared_error(y_train, y_pred))
round(rmse, 2)

7.65

## Q6. Evaluating the model
- Now let's apply this model to the validation dataset (February 2023).
- What's the RMSE on validation?

1. 3.81
2. 7.81
3. 11.81
4. 16.81

### Answer

In [16]:
# Compute trip duration and convert to minutes
df_feb['duration'] = (df_feb['tpep_dropoff_datetime'] - df_feb['tpep_pickup_datetime']).dt.total_seconds() / 60

# Filter durations between 1 and 60 minutes
df_feb_clean = df_feb[(df_feb.duration >= 1) & (df_feb.duration <= 60)].copy()

# Select required columns and convert to string
df_feb_clean["PULocationID"] = df_feb_clean["PULocationID"].astype(str)
df_feb_clean["DOLocationID"] = df_feb_clean["DOLocationID"].astype(str)

# Prepare feature dictionaries
dicts = df_feb_clean[["PULocationID", "DOLocationID"]].to_dict(orient="records")

# Transform validation features using the same DictVectorizer (dv) from training
X_val = dv.transform(dicts)

# Target variable
y_val = df_feb_clean["duration"].values

# Predict
y_pred_val = lr.predict(X_val)

# Evaluate using RMSE
rmse_val = sqrt(mean_squared_error(y_val, y_pred_val))
round(rmse_val, 2)

7.81